@model Sisgef.Models.Requisicao
@{
    ViewData["Title"] = "AddEditCombustivel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-4">
    <h4>Requisição de Combustível</h4>
    <hr />
    <form asp-action="AddEditCombustivel">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model == null || Model.Id == 0)
        {
            <input type="hidden" asp-for="Id" value="0" />
        }
        else
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="row">
            <div class="col-4">
                <label asp-for="Data" class="control-label font-weight-bold"></label>
                <input asp-for="Data" type="date" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Responsavel" class="control-label font-weight-bold"></label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="VeiculoId" class="control-label font-weight-bold"></label>
                <select asp-for="VeiculoId" asp-items="ViewBag.VeiculoId" class="form-control">
                    <option>
                        Selecione...
                    </option>
                </select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="FornecedorId" class="control-label font-weight-bold"></label>
                <select asp-for="FornecedorId" asp-items="ViewBag.FornecedorId" class="form-control">
                    <option>
                        Selecione...
                    </option>
                </select>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label asp-for="Motorista" class="control-label font-weight-bold"></label>
                <input asp-for="Motorista" class="form-control" />
                <span asp-validation-for="Motorista" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Valor" class="control-label font-weight-bold"></label>
                <input asp-for="Valor" class="form-control money" id="Valor" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Litros" class="control-label font-weight-bold"></label>
                <input asp-for="Litros" class="form-control" id="Litros" />
                <span asp-validation-for="Litros" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6 float-right">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/validacoesRequisicao.js"></script>
    <script src="~/js/mascaraMoeda.js"></script>
    <script>
        $(document).ready(function () {
            $('.money').mask("000.000.000.000.000,00", { reverse: true });
            $('.money2').mask("#.##0,00", { reverse: true });
        });
    </script>
    

}
