@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title> Demonstração </title>
    <link rel="stylesheet" href="style.css">
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <script src="script.js"></script>
    <link href="~ / css / demo.css" rel="folha de estilo" />

</head>
<body>
    <header>
        <h1> Fatura </h1>
        <endereço contenteditável>
            Jonathan Neal
            <p> 101 E. Chapman Ave em Orange, CA 92866 </p>
            <p> (800) 555-1234 </p>
            </address>
            <span> <img src="D: \ DemoRotativa \ DemoRotativa \ DemoRotativa \ wwwroot \ images \ Invoice.jpg" /> <input type="file" accept="image / *"> </span>
    </header>
    <artigo>
        <h1> Destinatário </h1>
        <endereço contenteditável>
            <p> Empresa de demonstração <br> saineshwar </p>
            </address>
            <table class="meta">
                <tr>
                    <th> <span contenteditable> Fatura # </span> </th>
                    <td> <span contenteditable> 000001 </span> </td>
                </tr>
                <tr>
                    <th> <span contenteditable> Data </span> </th>
                    <td> <span contenteditable> 1 de janeiro de 2018 </span> </td>
                </tr>
                <tr>
                    <th> <span contenteditable> Valor devido </span> </th>
                    <td> <span id="prefixo" contenteditable> र </span><span>600.00</span> </td>
                </tr>
            </table>
            <tabela class="inventário">
                <thead>
                    <tr>
                        <th> <span contenteditable> Item </span> </th>
                        <th> <span contenteditable> Descrição </span> </th>
                        <th> <span contenteditable> Taxa </span> </th>
                        <th> <span contenteditable> Quantidade </span> </th>
                        <th> <span contenteditable> Preço </span> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a class="cut"> - </a> <span contenteditable> Consulta de front-end </span> </td>
                        <td> <span contenteditable> Revisão da experiência </span> </td>
                        <td> <span data-prefix> र </span> <span contenteditable> 150.00 </span> </td>
                        <td> <span contenteditable> 4 </span> </td>
                        <td> <span data-prefix> र </span><span>600.00</span> </td>
                    </tr>
                </tbody>
                </table>

                <table class="balance">
                    <tr>
                        <th> <span contenteditable> Total </span> </th>
                        <td> <span data-prefix> र </span><span>600.00</span> </td>
                    </tr>
                    <tr>
                        <th> <span contenteditable> Valor pago </span> </th>
                        <td> <span data-prefix> र </span> <span contenteditable> 0,00 </span> </td>
                    </tr>
                    <tr>
                        <th> <span contenteditable> Saldo vencido </span> </th>
                        <td> <span data-prefix> र </span><span>600.00</span> </td>
                    </tr>
                </table>
                </article>

                <lado>
                    <h1> <span contenteditable> Notas adicionais </span> </h1>
                    <div contenteditable>
                        <p> Uma cobrança financeira de 1,5% será feita sobre os saldos não pagos após 30 dias. </p>
                    </div>
                    </aside>
</body>
</html>  