@model Sisgef.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid mt-4 ">
    <h4>Cadastro de Veículo</h4>
    <hr />
    <form asp-action="AddEditVeiculo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row ">
            <div class="col-3">
                <label asp-for="Renavam" class="control-label font-weight-bold"></label>
                <input asp-for="Renavam" class="form-control" maxlength="13" />
                <span asp-validation-for="Renavam" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Proprio" class="control-label font-weight-bold "></label>
                <span asp-validation-for="Proprio" class="text-danger"></span>
                <select class="form-control single-select" name="Proprio">
                    <option selected value="nao"></option>
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label asp-for="NomeDoProprietario" class="control-label font-weight-bold"></label>
                <input asp-for="NomeDoProprietario" class="form-control" maxlength="50" />
                <span asp-validation-for="NomeDoProprietario" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="CpfCnpj" class="control-label font-weight-bold"></label>
                <input asp-for="CpfCnpj" type="text" name="CpfCnpj" class="form-control" />
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Placa" class="control-label font-weight-bold"></label>
                <input asp-for="Placa" class="form-control" type="text" maxlength="7" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Chassi" class="control-label font-weight-bold"></label>
                <input asp-for="Chassi" class="form-control" maxlength="20" />
                <span asp-validation-for="Chassi" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="TipoDoVeiculo" class="control-label font-weight-bold"></label>
                <input asp-for="TipoDoVeiculo" type="text" name="TipoDoVeiculo" class="form-control" />
                <span asp-validation-for="TipoDoVeiculo" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Combustivel" class="control-label font-weight-bold"></label>
                <input asp-for="Combustivel" class="form-control" type="text" maxlength="10" />
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Marca" class="control-label font-weight-bold"></label>
                <input asp-for="Marca" class="form-control" maxlength="20" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Modelo" class="control-label font-weight-bold"></label>
                <input asp-for="Modelo" class="form-control" maxlength="20" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="AnoFabricacao" class="control-label font-weight-bold"></label>
                <input asp-for="AnoFabricacao" class="form-control" maxlength="4" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="TipoCarroceria" class="control-label font-weight-bold"></label>
                <input asp-for="TipoCarroceria" class="form-control" maxlength="20" />
                <span asp-validation-for="TipoCarroceria" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Cor" class="control-label font-weight-bold"></label>
                <input asp-for="Cor" class="form-control" maxlength="20" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Odometro" class="control-label font-weight-bold"></label>
                <input asp-for="Odometro" class="form-control" maxlength="7" />
                <span asp-validation-for="Odometro" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Observacao" class="control-label font-weight-bold"></label>
                <input asp-for="Observacao" class="form-control" maxlength="50" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="CidadeDeEmplacamento" class="control-label font-weight-bold"></label>
                <input asp-for="CidadeDeEmplacamento" class="form-control" maxlength="30" />
                <span asp-validation-for="CidadeDeEmplacamento" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="EstadoEmplacamento" class="control-label font-weight-bold"></label>
                <input asp-for="EstadoEmplacamento" class="form-control" maxlength="15" />
                <span asp-validation-for="EstadoEmplacamento" class="text-danger"></span>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group float-lg-right">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/validacoesVeiculo.js"></script>
}




@*<div class="row">
    <div class="col-4">
        <label asp-for="TipoDoVeiculo" class="control-label font-weight-bold "></label>
        <span asp-validation-for="TipoDoVeiculo" class="text-danger"></span>
        <select class="form-control single-select" name="TipoDoVeiculo">
            <option selected value=""></option>
            <option value="Automvel">Automovel</option>
            <option value="Pick-up">Pick-up</option>
            <option value="Van">Van</option>
            <option value="Caminhonete">Caminhonete</option>
            <option value="Toco">Toco</option>
            <option value="Truck">Truck</option>
            <option value="Caminhão">Caminhão</option>
            <option value="Carreta">Carreta</option>
            <option value="Dolly">Dolly</option>
        </select>
    </div>*@