@model Sisgef.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid mt-4">
    <h4>Cadastro de Veiculo</h4>
    <hr />
    <form asp-action="AddEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-3">
                <label asp-for="Renavam" class="control-label"></label>
                <input asp-for="Renavam" class="form-control" />
                <span asp-validation-for="Renavam" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label asp-for="NomeDoProprietario" class="control-label"></label>
                <input asp-for="NomeDoProprietario" class="form-control" />
                <span asp-validation-for="NomeDoProprietario" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @* <div class="form-group">*@
                <label asp-for="DocumentoDoProprietario" class="control-label"></label>
                <input asp-for="DocumentoDoProprietario" class="form-control" />
                <span asp-validation-for="DocumentoDoProprietario" class="text-danger"></span>
                @*</div>*@
            </div>
            <div class="col-4">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label asp-for="Chassi" class="control-label"></label>
                <input asp-for="Chassi" class="form-control" />
                <span asp-validation-for="Chassi" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label asp-for="TipoDoVeiculo" class="control-label"></label>
                <input asp-for="TipoDoVeiculo" class="form-control" />
                <span asp-validation-for="TipoDoVeiculo" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Combustivel" class="control-label"></label>
                <input asp-for="Combustivel" class="form-control" />
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label asp-for="TipoCarroceria" class="control-label"></label>
                <input asp-for="TipoCarroceria" class="form-control" />
                <span asp-validation-for="TipoCarroceria" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Odometro" class="control-label"></label>
                <input asp-for="Odometro" class="form-control" />
                <span asp-validation-for="Odometro" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="LocalDeEmplacamento" class="control-label"></label>
                <input asp-for="LocalDeEmplacamento" class="form-control" />
                <span asp-validation-for="LocalDeEmplacamento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group float-lg-right">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
