
@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label" for="Placa">Placa</label>
                <input type="text" class="form-control" id="Placa"/>
                
            </div>
        </div>



         
        @*Placa 
        Marca 
        Modelo
        TipoDoVeiculo 
        TipoCarroceria
        AnoFabricacao 
        Odometro 
        Combustivel 
        NomeDoProprietario 
        DocumentoDoProprietario 
        LocalDeEmplacamento
        MesDoSeguro
        Observacao
        QuantidadeDeEixos
        Renavam
        Seguradora*@












        <div class="col-6">
            <h3>teste2</h3>
        </div>
    </div>
</div>

