#cabecalho {
    padding: 10px;
}

# conteudo-1 {
    float: left;
    /* diminuimos a largura para não quebrar o layout. 
      * valor antigo 220
      */
    width: 210px;
    padding: 10px;
}

#conteudo-2-1 {
    float: left;
    width: 460px;
    padding: 10px;
    text-align: center;
}

#conteudo-2-2 {
    float: right;
    /*diminuimos a largura para não quebrar o layout
    * valor antigo 220
    */
    width: 200px;
    padding: 10px;
    text-align: center;
}

#rodape {
    clear: both;
    padding: 10px;
}

#conteudo-3-1 {
    float: left;
    width: 460px;
    padding-left: 150px;
}

#conteudo-3-2 {
    float: right;
    /*diminuimos a largura para não quebrar o layout
    * valor antigo 220
    */
    width: 200px;
    padding: 10px;
}

#conteudo-3-3 {
    float: right;
    /*diminuimos a largura para não quebrar o layout
    * valor antigo 220
    */
    width: 200px;
    padding: 10px;
}
#geral {
   font-size:20px;
   text-align:left;
   border:groove;
}

