@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="mt-4">Inicio</h1>
    <hr />
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h4>
                                <p>Veículos próprios</p>
                                <p style="text-align:right">@ViewBag.ContagemProprio</p>
                            </h4>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" asp-controller="Veiculo" asp-action="Lista" asp-route-pesquisa="sim">Ver mais</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h4>
                                <p>Veículos terceiros</p>
                                <p style="text-align:right">@ViewBag.ContagemTerceiro</p>
                            </h4>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" asp-controller="Veiculo" asp-action="Lista" asp-route-pesquisa="nao">Ver mais</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h4>
                                <p>Requisições</p>
                                <p style="text-align:right">@ViewBag.ContagemRequisicao</p>
                            </h4>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" asp-controller="Requisicao" asp-action="Lista" asp-route-pesquisa="">Ver mais</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
